<div class="w-75 d-flex flex-column align-items-center mx-auto mt-4 mb-4">
  <div class="clickable d-flex align-items-center mb-3 header-box">
    <i class="material-icons">local_shipping</i>
    <span class="ms-1">Neues Fahrzeug</span>
  </div>

  <div class="container">
    <form [formGroup]="createForm" role="form" (submit)="onSubmit()">
      <div class="row has-warning mb-4" *ngIf="showWarning">
        <div class="col col-12 form-control-feedback">
          <span class="alert bg-danger d-flex align-items-center info-box">
            <i class="material-icons">warning</i>
            <strong class="text-help ms-1">
              Wenn Sie die Seite jetzt verlassen, verlieren Sie Ihre
              eingegebenen Daten.
            </strong>
          </span>
        </div>
      </div>

      <hs-create-kennzeichen [createForm]="createForm"></hs-create-kennzeichen>
      <hs-create-beschreibung
        [createForm]="createForm"
      ></hs-create-beschreibung>
      <hs-create-fahrzeugtyp [createForm]="createForm"></hs-create-fahrzeugtyp>
      <hs-create-erstzulassung
        [createForm]="createForm"
      ></hs-create-erstzulassung>
      <hs-create-kilometerstand
        [createForm]="createForm"
      ></hs-create-kilometerstand>
      <hs-create-fahrzeughalter
        [createForm]="createForm"
      ></hs-create-fahrzeughalter>

      <button
        type="submit"
        class="btn btn-tertiary d-flex align-items-center ms-1"
        [disabled]="createForm.invalid"
      >
        <i class="material-icons">check</i>
        <span class="ms-1">Jetzt anlegen</span>
      </button>
    </form>
    <small>* sind Pflichtfelder</small>
  </div>
</div>
<div class="mt-3">
  <hs-error-message [text]="errorMsg"></hs-error-message>
</div>
