<div [formGroup]="createForm" class="row">
  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Wählen Sie ein Datum</mat-label>
    <input
      matInput
      [matDatepicker]="datepicker"
      formControlName="erstzulassung"
    />
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel class="btn">Cancel</button>
        <button mat-raised-button matDatepickerApply class="btn">OK</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>
