<div [formGroup]="createForm" class="row">
  <mat-form-field appearance="fill">
    <label>Fahrzeugtyp</label>
    <mat-select
      formControlName="fahrzeugtype"
      required
      [class.is-invalid]="fahrzeugtype.invalid && fahrzeugtype.touched"
      [class.is-valid]="fahrzeugtype.valid && fahrzeugtype.touched"
    >
      <mat-option value="">Einen Verlag auswählen</mat-option>
      <mat-option value="A">Anhänger</mat-option>
      <mat-option value="N">Nutzfahrzeug</mat-option>
      <mat-option value="P">PKW</mat-option>
    </mat-select>
    <div
      class="invalid-feedback d-flex align-items-center"
      *ngIf="
        fahrzeugtype.invalid && fahrzeugtype.touched && fahrzeugtype.errors
      "
    >
      <i class="material-icons">error</i>
      <span class="ms-1" *ngIf="fahrzeugtype.errors['required']">
        Ein Fahrzeugtyp ist erforderlich.
      </span>
    </div>
  </mat-form-field>
</div>
