/* background color */

.hs-nav {
  background-color: var(--bg-color-tertiary);
}

/* hamburger menu */

/* stylelint-disable declaration-property-value-disallowed-list */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
}
