<form
  class="row row-cols-md-auto g-3 align-items-center"
  autocomplete="off"
  role="form"
  (submit)="onLogout()"
  *ngIf="(isLoggedIn$ | async) || init; else login"
>
  <button
    type="submit"
    class="btn btn-link info-box text-decoration-none d-flex align-items-center"
  >
    <span>Logout</span>
    <i class="material-icons md-48">chevron_right</i>
  </button>
</form>

<ng-template #login>
  <form
    class="row row-cols-md-auto g-3 align-items-center"
    autocomplete="off"
    role="form"
    (submit)="onLogin()"
  >
    <div class="col-12 me-2">
      <mat-form-field>
        <mat-label for="usernameInput" class="col-form-label">
          <small>Benutzername</small>
        </mat-label>
        <input
          id="usernameInput"
          type="search"
          tabindex="1"
          autocomplete="off"
          required
          [(ngModel)]="username"
          name="username"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="col-12 me-2">
      <mat-form-field>
        <mat-label for="passwordInput" class="col-form-label">
          <small>Passwort</small>
        </mat-label>
        <input
          id="passwordInput"
          type="password"
          tabindex="2"
          autocomplete="off"
          required
          [(ngModel)]="password"
          name="password"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="col-12 me-2">
      <button
        type="submit"
        class="btn btn-link text-decoration-none info-box"
        tabindex="3"
        (click)="onLogin()"
      >
        Login
      </button>
    </div>
  </form>
</ng-template>
