/* stylelint-disable selector-pseudo-element-no-unknown */

/* stylelint-disable declaration-no-important */

/* override angular material styles */

/* change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: whitesmoke !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-ripple {
  background-color: whitesmoke !important;
}

/* underline border */
::ng-deep .mat-form-field-underline {
  background-color: whitesmoke !important;
}
