<ul class="navbar-nav me-auto">
  <li class="nav-item clickable d-flex align-items-center">
    <hs-darkmode></hs-darkmode>
  </li>
  <li class="nav-item clickable">
    <a
      routerLink="/fahrzeuge/suche"
      routerLinkActive="active"
      class="nav-link d-flex align-content-centert"
      aria-label="Suche Fahrzeuge"
    >
      <i class="material-icons">search</i>
      <span class="ms-1">Suche</span>
    </a>
  </li>
  <li class="nav-item clickable" *ngIf="isAdmin$ | async">
    <a
      routerLink="/fahrzeuge/create"
      class="nav-link d-flex align-content-center"
      aria-label="Neues Fahrzeug anlegen"
    >
      <i class="material-icons">local_shipping</i>
      <span class="ms-1">Neues Fahrzeug</span>
    </a>
  </li>
</ul>
<hs-login-logout></hs-login-logout>
