<div class="card" aria-label="Gefundene Fahrzeuge" *ngIf="fahrzeuge.length">
  <div class="card-header">
    <i class="material-icons">folder_open</i>
    <span class="ms-1 fw-bold">Gefundene Fahrzeuge</span>
  </div>
  <div class="card-body">
    <table
      class="table table-striped table-hover table-responsive"
      [@easeIn]="'in'"
    >
      <thead class="thead-default">
        <th>Nr.</th>
        <th>ID</th>
        <th>Kennzeichen</th>
        <th>Fahrzeugtyp</th>
        <th>
          <span class="visually-hidden">Spalte f&uuml;r Details</span>
        </th>
        <th *ngIf="isAdmin || (isAdmin$ | async)">
          <span class="visually-hidden">Spalte f&uuml;r Entfernen</span>
        </th>
      </thead>
      <tbody>
        <!-- Template Binding: ngFor -->
        <!-- Event-Binding: statt (click) auch on-click -->
        <!-- ts als Komponente: https://stackoverflow.com/questions/34556277/angular2-table-rows-as-component -->
        <tr *ngFor="let fahrzeug of fahrzeuge; index as idx; trackBy: trackBy">
          <td (click)="onClick(fahrzeug)">{{ idx + 1 }}</td>
          <td (click)="onClick(fahrzeug)">{{ fahrzeug.id }}</td>
          <td (click)="onClick(fahrzeug)">{{ fahrzeug.kennzeichen }}</td>
          <td (click)="onClick(fahrzeug)">
            <span [ngSwitch]="fahrzeug.fahrzeugtype">
              <span *ngSwitchCase="'A'">Anhänger</span>
              <span *ngSwitchCase="'N'">Nutzfahrzeug</span>
              <span *ngSwitchCase="'P'">PKW</span>
              <span *ngSwitchDefault>unbekannt</span>
            </span>
          </td>
          <td>
            <!-- Pfad /:id, in fahrzeug-routing.module.ts -->
            <a
              [routerLink]="['..', fahrzeug.id]"
              [state]="{ fahrzeug }"
              title="Details anzeigen"
            >
              <i class="material-icons">search</i>
            </a>
          </td>
          <!-- implizites "unsubscribe()" durch async -->
          <td *ngIf="isAdmin || (isAdmin$ | async)">
            <span (click)="onRemove(fahrzeug)" title="Entfernen">
              <i class="material-icons">delete</i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div>
      <i class="material-icons">info</i>
      <span class="ms-1" [ngPlural]="fahrzeuge.length">
        <!-- zu vergleichender Ausdruck -->
        <ng-template ngPluralCase="=0"> Es gibt kein Fahrzeug </ng-template>
        <ng-template ngPluralCase="=1"> Es gibt ein Fahrzeug </ng-template>
        <ng-template ngPluralCase="other">
          Es gibt {{ fahrzeuge.length }} Fahrzeuge
        </ng-template>
      </span>
    </div>

    <div>
      <i class="material-icons">info</i>
      <span class="ms-1">
        Zur Anzeige der JSON-Datensätze in gefundene-fahrzeuge.html am Dateiende
        den Kommentar in Zeile 83 entfernen
      </span>
    </div>
  </div>
</div>

<!-- Ausgabe im Webbrowser durch: -->
<!-- <pre>{{fahrzeuge | json}}</pre> -->
