/* colors */

* {
  color: whitesmoke;
}

.show-details {
  color: var(--bg-color-tertiary);
}

/* border */

.results-container {
  border-top: solid var(--bg-color-secondary) 1px;
}

/* media queries */

@media only screen and (max-width: 800px) {
  table {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 650px) {
  table {
    margin: auto;
    width: 75%;
  }
}
