<div
  aria-label="Gefundene Fahrzeuge"
  *ngIf="fahrzeuge.length"
  class="d-flex flex-column align-items-center mb-4 mt-5 results-container"
>
  <div class="d-flex align-items-center mb-3 mt-4">
    <i class="material-icons">folder_open</i>
    <span class="ms-1">Gefundene Fahrzeuge</span>
  </div>
  <div>
    <table class="table">
      <thead>
        <th>Nr.</th>
        <th>ID</th>
        <th>Kennzeichen</th>
        <th class="text-center">Fahrzeugtyp</th>
        <th>
          <span class="visually-hidden">Spalte für Details</span>
        </th>
        <th *ngIf="isAdmin || (isAdmin$ | async)">
          <span class="visually-hidden">Spalte für Entfernen</span>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let fahrzeug of fahrzeuge; index as idx; trackBy: trackBy">
          <td (click)="onClick(fahrzeug)">{{ idx + 1 }}</td>
          <td (click)="onClick(fahrzeug)">{{ fahrzeug.id }}</td>
          <td (click)="onClick(fahrzeug)">{{ fahrzeug.kennzeichen }}</td>
          <td (click)="onClick(fahrzeug)">
            <span [ngSwitch]="fahrzeug.fahrzeugtype">
              <span *ngSwitchCase="'A'">Anhänger</span>
              <span *ngSwitchCase="'N'">Nutzfahrzeug</span>
              <span *ngSwitchCase="'P'">PKW</span>
              <span *ngSwitchDefault>unbekannt</span>
            </span>
          </td>
          <td>
            <!-- path /:id, in fahrzeug-routing.module.ts -->
            <a
              [routerLink]="['..', fahrzeug.id]"
              [state]="{ fahrzeug }"
              title="Details anzeigen"
            >
              <i class="material-icons show-details clickable">search</i>
            </a>
          </td>
          <td *ngIf="isAdmin || (isAdmin$ | async)">
            <span
              (click)="onRemove(fahrzeug)"
              title="Entfernen"
              class="clickable"
            >
              <i class="material-icons">delete</i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4">
    <div class="d-flex align-items-center info-box">
      <i class="material-icons">info</i>
      <span class="ms-1" [ngPlural]="fahrzeuge.length">
        <!-- zu vergleichender Ausdruck -->
        <ng-template ngPluralCase="=0"> Es gibt kein Fahrzeug </ng-template>
        <ng-template ngPluralCase="=1"> Es gibt ein Fahrzeug </ng-template>
        <ng-template ngPluralCase="other">
          Es gibt {{ fahrzeuge.length }} Fahrzeuge
        </ng-template>
      </span>
    </div>

    <div class="d-flex align-items-center info-box">
      <i class="material-icons">info</i>
      <span class="ms-1">
        Zur Anzeige der JSON-Datensätze in gefundene-fahrzeuge.html am Dateiende
        den Kommentar in Zeile 83 entfernen
      </span>
    </div>
  </div>
</div>

<!-- Ausgabe im Webbrowser durch: -->
<!-- <pre>{{fahrzeuge | json}}</pre> -->
