<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Fahrzeugtyp</mat-label>
    <div>
      <mat-select
        title="Fahrzeugtype"
        [(ngModel)]="fahrzeugtype"
        name="fahrzeugtype"
        (selectionChange)="onChange($event.value)"
      >
        <mat-option value=""></mat-option>
        <mat-option value="A">Anhänger</mat-option>
        <mat-option value="N">Nutzfahrzeug</mat-option>
        <mat-option value="P">PKW</mat-option>
      </mat-select>
    </div>
  </mat-form-field>
</div>
