/* sticky footer */

.footer {
  background-color: var(--bg-color-secondary);
  color: whitesmoke;
  height: 60px;
  position: sticky;
  top: 100vh;
  width: 100%;
}

/* media queries */

@media only screen and (max-width: 500px) {
  footer {
    font-size: 0.8rem;
  }
}
