/* sticky footer */

.footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: var(--bg-color-secondary);
  color: whitesmoke;
}

/* media queries */

@media only screen and (max-width: 500px) {
  footer {
    font-size: 0.7rem;
  }
}
