/* variables */

:root {
  --bg-color-primary: #303030;
  --bg-color-secondary: #454545;
  --bg-color-tertiary: #e91e62;
}

/* general settings */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color-primary) !important;
}

/* shared colors */

a,
div,
input,
input::placeholder,
label,
mat-label {
  color: whitesmoke !important;
}

/* shared button styles */

.btn:focus,
.btn:active {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* shared classes */

/* clickable */

.clickable:hover,
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* shared media queries */

@media only screen and (max-width: 600px) {
  .info-box {
    font-size: 0.7rem;
  }
}
