/* general settings */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color-primary) !important;
}

/* input settings */

mat-label,
input {
  color: whitesmoke !important;
}

input::placeholder {
  color: whitesmoke;
}

/* button settings */

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  appearance: none !important;
}

/* variables */

:root {
  --bg-color-primary: #303030;
  --bg-color-secondary: #454545;
  --bg-color-tertiary: #e91e62;
}

/* shared classes */

/* clickable */

.clickable:hover,
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
