/* variables */

:root {
  --bg-color-primary: #303030;
  --bg-color-secondary: #454545;
  --bg-color-tertiary: #e91e62;
  --font-color: #ffffff;
}

/* general settings */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color-primary) !important;
}

/* shared colors */

a,
input,
input::placeholder,
label,
mat-label,
.header-box,
.info-box {
  color: var(--font-color) !important;
}

.mat-select-panel {
  background: var(--bg-color-tertiary);
}

/* shared button styles */

.btn:active,
.btn:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* shared classes */

/* clickable */

.btn:hover,
.clickable:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* btn color */

.btn-tertiary {
  background-color: var(--bg-color-tertiary) !important;
  color: var(--font-color) !important;
}

/* shared media queries */

@media only screen and (max-width: 600px) {
  .info-box {
    font-size: 0.7rem;
  }
}
