<section
  class="w-75 d-flex flex-column align-items-center mx-auto mt-4 mb-4"
  *ngIf="fahrzeug"
>
  <div class="d-flex align-items-center mb-3">
    <i class="material-icons">local_shipping</i>
    <span class="ms-1">Fahrzeug {{ fahrzeug.id }}:</span>
  </div>

  <div class="container">
    <form [formGroup]="updateForm" role="form" (submit)="onSubmit()">
      <hs-update-kennzeichen
        [updateForm]="updateForm"
        [currentValue]="fahrzeug.kennzeichen"
      ></hs-update-kennzeichen>
      <hs-update-beschreibung
        [updateForm]="updateForm"
        [currentValue]="fahrzeug.beschreibung"
      ></hs-update-beschreibung>
      <hs-update-fahrzeugtyp
        [updateForm]="updateForm"
        [currentValue]="fahrzeug.fahrzeugtype"
      ></hs-update-fahrzeugtyp>
      <hs-update-kilometerstand
        [updateForm]="updateForm"
        [currentValue]="fahrzeug.kilometerstand"
      ></hs-update-kilometerstand>
      <hs-update-fahrzeughalter
        [updateForm]="updateForm"
        [currentValueVorname]="fahrzeug.fahrzeughalter.vorname"
        [currentValueNachname]="fahrzeug.fahrzeughalter.nachname"
      ></hs-update-fahrzeughalter>

      <button
        type="submit"
        class="btn btn-tertiary d-flex align-items-center ms-1"
        [disabled]="updateForm.pristine || updateForm.invalid"
      >
        <i class="material-icons">check</i>
        <span class="ms-1">Stammdaten aktualisieren</span>
      </button>
    </form>
  </div>
</section>

<hs-error-message [text]="errorMsg"></hs-error-message>
