<div [formGroup]="updateForm" class="row">
  <mat-form-field appearance="fill">
    <mat-label for="beschreibungUpdate"> Beschreibung </mat-label>
    <input
      id="beschreibungUpdate"
      placeholder="Beschreibung"
      formControlName="beschreibung"
      [class.is-invalid]="beschreibung.invalid && beschreibung.touched"
      [class.is-valid]="beschreibung.valid && beschreibung.touched"
      matInput
    />
    <div
      class="invalid-feedback d-flex align-items-center"
      *ngIf="
        beschreibung.invalid && beschreibung.touched && beschreibung.errors
      "
    >
      <span class="ms-1" *ngIf="beschreibung.errors['maxlength']">
        Eine Beschreibung darf maximal 40 Zeichen lang sein
      </span>
    </div>
  </mat-form-field>
</div>
